body {
  background: #fff;
  color: #191926;
}

img {
  width: 300px;
  height: 300px;
  object-fir: cover;
  overflow: hidden;
}

#root {
  margin: 0 auto auto;
  width: 100%;
  max-width: 100%;
}

.nav-bar {
  margin: auto auto;
  height: 50px;
  background: #191926;
}

.innerNav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  gap: 10px;
  width: 1256px;
  max-width: 100%;
  margin: 0 auto;
}

.innerNav a {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1256px;
  max-width: 100%;
  margin: 0 auto;

  @media (min-width: 430px) {
  }

  @media (min-width: 768px) {
  }

  @media (min-width: 1024px) {
  }
}

/* home page */
.productsWrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 0 16px;
  gap: 16px;

  @media (min-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-card {
  padding: 16px;
  border: 1px #efefef solid;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);

  @media (max-width: 768px) {
  }

  @media (max-width: 1024px) {
  }
}

.product-card img {
  object-fit: cover;
}

/* single card */
.product-card-single {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 16px;
  border: 1px #efefef solid;
  border-radius: 4px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.product-description {
  font-size: 14px;
  font-weight: 400;
  color: #474343;
}

.product-price {
  font-size: 24px;
  font-weight: 600;
  color: #2d2727;
  margin: auto 0 16px;
}

.cart-btn {
  background: #2239ad;
  color: #fff;
}

/* registration form */

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 300px;
  max-width: 100%;
  margin: 0 auto;
}
.FormInput {
  display: flex;
  flex-direction: column;
}

.form input{
  padding: 10px;
  margin-top: 8px;
}

.form input[type="submit"] {
  background: #2239ad;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
}

.form input[type="submit"]:hover {
  background: #2d4bb8;
}

.loginLink{
  display: flex;
  gap: 32px;
}


.register-error-msg {
  padding: 5px 10px;
  background: #e42727;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 40px;
}